*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'kumbh sans', sans-serif;
}

.navbar {
    background: #131313; 
    height: 10%;
    max-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 0;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
            background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

 .fa-church {
    margin-right: .5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 90%;
    width: 100%;
    border: 4px ridge gold ;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}

.button:hover{
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}



@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 480px){
    #navbar__logo{
        font-size: 1.8rem;
    }

    .navbar__menu.active{
        padding: 0px;
    }

}

/* Hero Section CSS */

 html {
    min-height: 100%;
} 

body {
    height: 100%;
    width: 100%;
  }

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
  height: 100%;
  background: #000;
}


.carousel-caption{padding-bottom:80px;}

h2{font-size: 60px;}
p{padding:10px}

/* Background images are set within the HTML using inline CSS, not here */



.d-block {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



/**
 * Button
 */


/**
 * Change animation duration
 */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* Mobile Responsive */
@media screen and (max-width: 480px){
    .carousel-inner{
        padding-top: 50px;
        
        
    }

    .d-block{
        position: relative;
        
    }

    .carousel-caption{padding-bottom: 0px;}
    h2 {
        font-size: 10px;
    }
}

/* Events Section */
.events {
    background: #141414;
    background-image: url("Images/OldWoodBackgrond.jpg");
    background-size: 100%;
    height: 100%;
    
}

.events h1 {
    text-align: center;
    background-color: #ff8177;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
            background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.Grid{
    display: grid;
    margin: 100px;
    margin-left: 100px;
    margin-right: 100px;
    grid-template-columns: 150px 1fr 150px 1fr;
    grid-auto-rows: minmax(200px,auto);
}

.Calender{
    background:url(Images/Calander.png);
-webkit-background-size: cover !important;
-moz-background-size: cover;
background-size: cover;
    max-height: 150px;
    max-width: auto;
    padding: 20px;
    text-align: justify;
    flex-wrap: wrap;
    font-size: 700;
}

.Month{
display: grid;
grid-column: 1/1;
grid-template-columns: subgrid;
grid-template-rows: 50px;
justify-items: center;
font-weight: 700;
font-size: large;
}

.Day{
    display: grid;
    grid-column: 1/1;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    font-weight: 700;
    font-size: larger;
}

.C1{
    text-align: center;
    padding: 20px;
    color: white;
}

.C2{
    text-align: center;
    padding: 20px;
    color: white;
}

.C3{
    text-align: center;
    padding: 20px;
    color: white;
}

.C4{
    text-align: center;
    padding: 20px;
    color: white;
}

@media screen and (max-width:480px){
   
    .events{
        background:url(Images/WoodMobile.jpg);  
    }
   
    .Grid{
        display: grid;
        margin: 100px;
        margin-left: 10px;
        margin-right: 10px;
        grid-template-columns: 150px 1fr;
        grid-auto-rows: minmax(200px,auto);
    }


}

/* Footer CSS */
.footer__container {
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
    position: relative;
    top: 5px;
    left: 0;
}

.footer__link--items h2 {
    color: #fff;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #fff;
    transition: 0.3s ease-out;
}

/* Social Icons */
.social__icons--link {
    color: #fff;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social__logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website__right {
    color: #fff;
    padding-right: 50px;
    padding-left: 50px;
}

.socialmediacontainer{
    background-color: #141414;
    padding: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights{
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
    .footer__logo{
        padding-left: 20px;       
    }
}

/* entire container, keeps perspective */
.containerbox{
    background: #131313;
    padding-top: 25px;
}

.flip-container {
	perspective: 1000px;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
	-webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 100%;
	height: 400px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
    
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
    padding: 10px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  	background: #E5E9F1;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    background-image: linear-gradient(#020024 0%, #090979 35%, #00d4ff 100%); 
}
.thumbnail{
    background: none;
    border: none;
}
.mb{margin-bottom: 20px;}

.caption{
    position: absolute;
    top: 125px;
    right: 75px;
    color: white;
    text-shadow: 1px 1px #000, -1px 1px #000, -1px -1px #000, 1px -1px #000;
}

.BTT{
    text-align: center;
}

/* Events page */

.eventspage {   
    background-image: linear-gradient(#020024 0%, #090979 35%, #00d4ff 100%);    
    background-size: 100%;
    height: 100%;
}

.eventspage h1 {
    text-align: center;
    background-color: #ff8177;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
            background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.EventMonth{
    transform: translateX(3em);
    color: white;
    padding: 15px;
}

@media screen and (max-width: 480px){
    .EventMonth{
        text-align: center;
        transform: translateX(0em);
    }
}

/* About Us Page */
 .AboutUs{
    background-image: linear-gradient(#020024 0%, #090979 35%, #00d4ff 100%);    
    background-size: 100%;
    height: 100%;
 }

 .header{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #ff8177;;
 }

 .mainpar{
    padding: 20px;
    color: white;
 }

 .AboutPastor{
    background-color: white;
    padding: 20px;
 }

 /* Our Beliefs */

 .OurBeliefs{
    background-color: #131313;
    color: white;
    padding: 20px;
 }

 .WWB {
    text-align: center;
    color: #ff8177;
 }